@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');

$primary-font: 'Quicksand', sans-serif;
$secondary-font: 'Nunito', sans-serif;
$primary-bgcolor: #00B4DB;

h1{
    font-family: $secondary-font;
    font-size: medium;
}